[submodule "plugins/ale"]
	path = plugins/ale
	url = https://github.com/w0rp/ale.git
[submodule "plugins/editorconfig-vim"]
	path = plugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "plugins/emmet-vim"]
	path = plugins/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "plugins/vim-jinja"]
	path = plugins/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "plugins/vim-mustache-handlebars"]
	path = plugins/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "plugins/vim-gitgutter"]
	path = plugins/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "plugins/vim-vue"]
	path = plugins/vim-vue
	url = https://github.com/posva/vim-vue.git
